@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

html,
body {
  background-color: #0d1219;
  color: white;
  font-family: "Karla";
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: 100;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

// Layout
.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    flex-grow: 1;
  }
}

// Header
.header {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  p {
    text-transform: uppercase;
    margin: 0;
    font-size: 20px;
    padding: 0;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a {
    text-decoration: none;
    transition: all 0.2s;
    color: white;
    margin-right: 3rem;
    font-size: 20px;
    &:hover {
      color: grey;
    }
  }
  .active {
    text-decoration: underline;
  }
}

.mobile-navbar {
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
}

.wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}

.button {
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0.4em 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: transparent;
  text-align: center;
  transition: all 0.2s;
  &:hover {
    cursor: pointer;
    color: black;
    background-color: white;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &.disable {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
}

.home-text {
  width: 100%;
  padding: 1rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-weight: 200;
    text-align: center;
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  h3 {
    font-weight: 100;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
  p {
    font-weight: 100;
    margin: 0;
    padding: 0;
    color: red;
  }
  .social-icons {
    display: flex;
    margin-top: 10px;
    a {
      margin-right: 10px;
    }
  }
}

.about_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0;
  padding: 1rem;
  .about-text {
    width: 500px;
    display: flex;
    flex-flow: column wrap;
    padding: 2rem;
    h3 {
      text-align: center;
      margin: 5px;
    }
  }
}

.project-title {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 4rem;
    font-weight: 200;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  p {
    font-weight: 100;
    margin: 0;
    padding: 0;
  }
}

.projects-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  flex-flow: row wrap;
}

.card {
  border: solid white 2.3px;
  border-radius: 10%;
  box-sizing: border-box;
  // Simplify Margins
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 40px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: 0.2s ease-in-out;
  overflow: hidden;
  &:hover {
    transform: scale(1.05);
  }
  .card-picture {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid white 2.3px;
    width: 100%;
    height: 400px;
    img {
      height: 100px;
      width: 100px;
    }
  }
  .card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    p {
      font-size: 20px;
      margin: 0;
      padding: 0;
    }
    .title {
      margin-top: 5px;
    }
    .desc {
      margin-bottom: 10px;
    }
  }
  .buttons {
    margin-bottom: 12px;
  }
}

.blog-wrapper {
  padding: 1.3rem;
  .blog-post {
    a {
      color: lightblue;
      text-decoration: underline;
      margin-bottom: 0;
      &:hover {
        color: seashell;
      }
    }
    h1 {
      margin-bottom: 0;
    }
    .blog-post-excerpt {
      margin-top: 2px;
      margin-bottom: 0;
    }
    .blog-post-date {
      margin-top: 0;
      color: grey;
    }
  }
}

.blog-post-container {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .blog-block {
    justify-content: center;
    align-items: center;
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    .blog-header {
      text-align: center;
      h1,
      h2 {
        margin: 0;
      }
    }
    .blog-post-content {
      width: 100%;
      min-height: 500px;
      flex-grow: 1;
      text-align: left;
      h1,
      h2,
      h3 {
        margin: 0;
      }
      ul {
        margin-top: 3px;
      }
    }
  }

  hr {
    width: 100%;
  }
}
